{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit '{{ title_name }}'</h1>
    <br>
    <form action="edit_page" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{title_name}}" style="width: 50%">
        <br>
        <p style="font-weight: 500;">Markdown content: (learn more about markdown <a href="https://github.com/trentm/python-markdown2">here </a>if you're new to this)</p><textarea style="height: 600px; resize: none" name="md_content" required>{{ md_content }}</textarea>
        <br>
        <input type="submit" value="Save">
    </form>
{% endblock %}